@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #636365;
  --color-secondary: #ffd369;
  --color-accent: #d9d9d9;

  --color-custom-bg: #111113;

  --font-sans: "Inter", sans-serif;

  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
body {
  background-color: theme(--color-custom-bg);
  color: theme(--color-accent);

  font-family: theme(--font-sans);
  font-weight: 500;
}
html {
  scroll-behavior: smooth;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  scroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

/* Swiper Custom Pagination Styles */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.3) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: theme(--color-secondary) !important;
  width: 24px !important;
  border-radius: 4px !important;
  transition: all 0.3s ease !important;
}

.swiper {
  padding-bottom: 35px !important;
}
